<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vueApp</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <h1>Hello Vue 3!</h1>

    <!-- here is initial vue.js , and you cant use any varibals from app.js outside this scope that id take it from app.mount  -->
    <div id="app">
      <h4>{{ title }} - {{ author }} - {{ age }}</h4>

      <!-- that create a event on the varible you specfie and add js with it so its @eventType = "parend + js"  -->
      <button @click="age++">Click Me increase age</button>
      <button @click="age--">Click Me ro decrease age</button>

      <!-- or you can invoke a methode from app  -->
      <div @click="changeTitle('fakhre')">change the title</div>

      <!-- you cand do it a conditions tamplates   -->
      <div v-if="showBooks">
        <h4>{{ Books }}</h4>
      </div>

      <button @click="toggleShowBooks">
        <span v-if="showBooks"> Hide Books</span>
        <span v-else> Show Books </span>
      </button>

       
    </div>

    <script src="app.js"></script>
  </body>
</html>
